/* You can add global styles to this file, and also import other style files */
body {
    transition: background-color 0.3s, color 0.3s;
  }
  
  body.dark-theme {
    background-color: #121212;
    color: #ffffff;
  
    .navbar {
      background-color: #1f1f1f !important;
    }
  
    .card {
      background-color: #2d2d2d;
      border-color: #404040;
      color: white;
    }
  
    .btn-primary {
      background-color: #0d6efd;
      border-color: #0d6efd;
    }
  
    .input-group .form-control {
      background-color: #2d2d2d;
      border-color: #404040;
      color: #ffffff;
    }
  
    .input-group .btn {
      border-color: #404040;
    }
  }